header{
    background: #2C3E50;
}

.container{
    min-height: 100px;
}

section:nth-child(odd){
    background-color: #1ABC9C;
    color: white;
}

.f_top{
    background-color: #3A546D;    
}

.f_bottom{

    background-color: #2C3E50;  
}

/* <i class="fa-solid fa-star"></i> */