header{
    background: #2C3E50;
}

.container{
    min-height: 100px;
}

section:nth-child(odd){
    background-color: #1ABC9C;
    color: white;
}

.f_top{
    background-color: #3A546D;    
}

.f_bottom{

    background-color: #2C3E50;  
}

.bar-star{
    height: 3px;
}

.icon_f i{
    width: 40px;
    aspect-ratio: 1;
    line-height: 40px;
    
}
/* <i class="fa-regular fa-copyright"></i> */

