.bordered{
    border: 1px dashed solid;
}

header{
    background: #2C3E50;
}

.container{
    min-height: 100px;
}



section:nth-child(odd){
    background-color: #1ABC9C;
}

.card{
    
    background-color: yellow;
}